html{
    background-color: indianred;
    font-family: Consolas, sans-serif;
}
h1{
    text-align: center;
}
.button-container{
    text-align: center;
    margin-top: 20px;;
}
button{
    background: azure;
    border-color: black;
    border-radius: 5px;
    font-size: 15px;
}
.parent-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
.main-container{
    background-color: darkred;
    opacity: 0.7;
    width: 600px;
    height: 400px;
    border-radius: 20px;
}