<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Add</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="parent-container">
  <div class="main-container">
<h1>Welcome to Task List</h1>
    <ul>
      <div th:each="task : ${task}" >
        <input type="checkbox" th:value="${task.name}" class="task-checkbox"/>
          <label th:for="${task.name}" th:text="${task.name}+':'">Task Name</label>
          <span th:text="${task.description}">Task description:</span>
      </div>
    </ul>
      <div class="button-container">
    <a href="/"><button>Home</button></a>
    <a href="/add"><button>Add Task</button></a>
          <button>Delete Task</button>
      </div>
  </div>
</div>

</body>
</html>